body {
	font-family: 'Amatic SC', cursive;
	font-size: 150%;
	}
p {
	font-family: 'Inconsolata', ;
	margin-top: 10px;
    margin-bottom: 5px;
	}
h1, h2, h3, h4, h5, h6{
	margin-top: 10px;
    margin-bottom: 5px;
    font-size: 200%;
	}

.headline {
	padding:150px 5px 150px 5px;
	margin: 12.5px 50px 12.5px 50px;
	background-color: rgba(236, 218, 239, .3);
	text-align: center;
	border-radius: 25px;
	font-size: 375%;
	}
.headline-image{
	display: block;
	background-image: url("../img/bg7.png");
	background-position: center center;
	background-repeat: no-repeat;
	padding: 5px 25px 5px 25px;
	margin: 5px 10px 5px 10px;
	}
.headline-image2{
	display: block;
	background-image: url("../img/bg9.png");
	background-position: center center;
	background-repeat: no-repeat;
	padding: 5px 25px 5px 25px;
	margin: 5px 10px 5px 10px;
	}
.headline-image3{
	display: block;
	background-image: url("../img/bg11.png");
	background-position: center center;
	background-repeat: no-repeat;
	padding: 5px 25px 5px 25px;
	margin: 5px 10px 5px 10px;
	}
.body{
	padding:1px 5px 1px 5px;
	margin: 6.25px 25px 6.25px 25px;
	background-color: rgba(209, 158, 244, .5);
	border-radius: 10px;
	}
.middle-section{
	text-align: right;
	}
.first-circle{
	float: right;
	border-radius: 50%;
	height: 250px;
	width: 250px;
	padding:5px 10px 5px 10px;
	}
.second-circle{
	float: left;
	border-radius: 50%;
	height: 250px;
	width: 250px;
	padding:5px 10px 5px 10px;
	}
.third-circle{
	float: right;
	border-radius: 50%;
	height: 250px;
	width: 250px;
	padding:5px 10px 5px 10px;
	}
#stories{
	font-size: 40%;
}

a:link, a:visited {
	color: black;
	text-decoration: none;
	}

audio{
	margin: 5px;
	padding: 10px;
}