<!DOCTYPE html>
<head>
	<link href="../css/main.css" rel="stylesheet" type="text/css" >
	<link href='https://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="headline-image3">
	<div class="headline">
		<a href="../index.html"><h1>Time To Code!</h1></a>
		<p>Here I will show off some of my projects.</p>
		</div>
	</div>
<div class="body">
    <audio controls autoplay><source src="../music/Unbroken Tree.mp3" type="audio/mpeg"></audio>

</body>
</body>
</html>