<!DOCTYPE html>
<head>
	<link href="../css/main.css" rel="stylesheet" type="text/css" >
	<link href='https://fonts.googleapis.com/css?family=Amatic+SC:700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="headline-image2">
	<div class="headline">
		<a href="../index.html"><h1>Story Time!</h1></a>
		<p id="stories">Here are clips of a few of my stories. Some are a work in progress while others are simply ideas that have only a few words. Even the stories that are 'finished', are taken out and work on . None of the stories you see here are fully complete. There are some warnings on a few stories. These warnings are for language and extream violence and gore.<p>
		</div>
	</div>
<div class="body">
  <audio controls autoplay><source src="../music/Eliezer's Waltz.mp3" type="audio/mpeg"></audio>
	<h3>The Darkness Within You</h3>
	<p></p>
	<hr>
	<h3>Tired</h3>
	<p></p>
	<hr>
	<h3>Beautifully Untamed</h3>
	<p></p>
	<hr>
</body>
</body>
</html>