body{
  background-image: url("http://1.bp.blogspot.com/-Z59t3ATrJt8/U3tj5c1DX3I/AAAAAAAAA_w/FppNFoSqOFk/s1600/DSC_8052.jpg");
  background-position: top center;
  color: white;
}
div{
  display:none;
}
button{
	color: black;
}