div{
	display:none;
}
body{
  background-image: url("http://1.bp.blogspot.com/-Z59t3ATrJt8/U3tj5c1DX3I/AAAAAAAAA_w/FppNFoSqOFk/s1600/DSC_8052.jpg");
  background-position: top center;
  color: white;
  font-size: 150%;
}
button{
	color: black;
}

p{
	font-family: 'Alice', serif;
}
h1, h2, h3, h4, h5{
	font-family: 'Alike Angular', serif;
	font-size: 150%;
}